<form id="bookNow" method="get" target="_blank" action="https://apac.littlehotelier.com/properties/samurai-beach-bungalows">
    <div class="row form-group-booking">
        <input class="col-xs-4" type="text" placeholder="Arrival date" id="checkInDate" name="check_in_date" data-date-format="yyyy-mm-dd" data-provide="datepicker" data-today-highlight="true" title="Check in date" style="height:30px;">
        <input class="col-xs-6" type="text" class="small" placeholder="Number of nights" id="numberOfNights" title="Number of nights" style="height:30px;">
        <input type="hidden" name="check_out_date" id="checkOutDate" value="">
        <input class="col-xs-2 btn btn-xs btn-success" type="submit" value="Book" title="Check availability" style="height:30px;">
    </div>
</form>