<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" style="display:none;" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false" data-fullscreen="true">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<footer class="container-fluid" style="background-color: #222; min-height: 145px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3 col-lg-3">
                <h3>
                    <img class="img-responsive logo-footer" style="display: inline-block;height:55px;"
                         src="{{ site.github.url }}/img/logo/logo-grey.svg" alt="Samurai Beach Bungalows"
                         title="Samurai Beach Bungalows"></h3>
                <h4 style="color:#00a300">
                    Port Stephens YHA
                </h4>
            </div>
            <div class="col-xs-6  col-md-3 col-lg-3">
                <h4>How to get to us</h4>
                <div>
                    <a href="/directions"><img src="/img/map.png" class="img-responsive" style="width:80px;">
                    2 Robert Connell Close<br>
                    Anna Bay NSW 2316</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <h4>Contact Us</h4>
                <ul>
                    <li><a href="mailto:info@samuraiportstephens.com.au">info@samuraiportstephens.com.au</a></li>
                    <li>Ph: <a href="tel:+61249821921">+61 (0)2 49 821921</a></li>
                    <li><a href="http://www.facebook.com/samuraiportstephens" target="_blank">facebook</a></li>
                </ul>

            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <br class="hidden-xs">
                <ul>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/specials">Specials</a></li>
                    <li><a href="/terms-of-service">Terms of service</a></li>
                    <li>
                        <a target="_blank"
                           href="http://www.yha.com.au/hostels/nsw/mid-north-coast/port-stephens/customer-reviews/">YHA</a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="https://www.tripadvisor.com/Hotel_Review-g1233623-d285538-Reviews-Samurai_Beach_Bungalows_Port_Stephens_YHA-Anna_Bay_Port_Stephens_Greater_Newcastle_New.html">Tripadvisor</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="{{ site.github.url }}/js/jquery-1.11.3.min.js"></script>
<script src="{{ site.github.url }}/js/bootstrap.min.js"></script>
<script src="{{ site.github.url }}/js/fontfaceobserver.js"></script>
<script src="{{ site.github.url }}/js/jquery.blueimp-gallery.min.js"></script>
<script src="{{ site.github.url }}/js/bootstrap-datepicker.min.js"></script>
<script src="{{ site.github.url }}/js/masonry.pkgd.min.js"></script>
<script src="{{ site.github.url }}/js/imagesloaded.pkgd.min.js"></script>
<script src="{{ site.github.url }}/js/custom.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-1693624-2', 'auto');
    ga('send', 'pageview');
</script>