<div class="navbar navbar-default navbar-fixed-top navbar-transparent">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ site.github.url }}/">
                <img class="img-responsive logo" style="display:inline-block;padding-left:2px;height:50px;" src="{{ site.github.url }}/img/logo/logo-grey.svg">
                <img src="/img/logo/YHA-australia-logo.svg" style="width:36px; padding-right: 4px;">
            </a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-left">
                {% for navpage in site.data.nav %}

                <!-- check to see if the data file has a submenu, and if so display it -->
                {% if navpage.subcategories != null %}
                <li class="dropdown{% if page.url == navpage.url or page.parent == navpage.href%} active{% endif %}">
                    <a href="{{ site.github.url }}{{ navpage.url }}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">{{ navpage.title }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for subcategory in navpage.subcategories %}
                        {% if subcategory.target != null %}
                        <li{% if page.url == subcategory.subhref %}class="active"{% endif %}>
                            <a href="{{ subcategory.subhref }}" target="{{ subcategory.target }}">{{ subcategory.subtitle }}</a>
                        </li>
                        {% else %}
                        <li {% if page.url == subcategory.subhref %} class="active"{% endif %}>
                            <a href="{{ site.github.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% else %}

                    <!— display the top level navigation for items that don’t have a submenu -->
                <li {% if page.url == navpage.href or page.parent == navpage.href%} class="active"{% endif %}>
                    <a href="{{ site.github.url }}{{ navpage.href }}">{{ navpage.title }}</a>
                    {% endif %}
                </li>
                {% endfor %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="booking-widget-container">
                    <form id="bookNow" method="get" target="_blank" action="https://apac.littlehotelier.com/properties/samurai-beach-bungalows">
                        <div class="row form-group-booking">
                                <input class="col-xs-5" type="text" placeholder="Date" id="checkInDate" name="check_in_date" data-date-format="yyyy-mm-dd" data-provide="datepicker" data-today-highlight="true">
                                <input class="col-xs-4" type="text" class="small" placeholder="Nights" id="numberOfNights">
                                <input type="hidden" name="check_out_date" id="checkOutDate" value="">
                                <input class="col-xs-3 btn btn-xs btn-success" type="submit" value="Book">
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
