body {
  padding-top: 0px;
}

#navbar-main{
  font-size:25px;
}

.bgimage{
  background-position: center center;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: 100% !important;
}

.bgimage-inside{
  padding-top: 37.36%; /* this is actually (426/1140)*100 */
}
.inside-bg-item{
  position:relative;
  top:10px;
  right:20px;
}

.bgimage:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
}

#home {
  padding-top: 0;
  background-color: #f9f9f9;
}

.booking-widget-container {
  padding-top: 15px;
}

.booking-widget-container input.btn-success{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height:28px;
}

.form-group-booking{
  width:290px;
}
.form-group-booking input{
  padding-left: 8px;
}

.google-maps {
  position: relative;
  padding-bottom: 90%; // (450 ÷ 500 = 0.9 = 90%)
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.logo-footer{
  height: 50px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}