---
layout: default
---
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 {{ page.coverpicture }} bgimage" data-horizontal-value="{{page.cover.horizontal}}"
             data-vertical-value="{{page.cover.vertical}}">
            <div class="bgimage-inside"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            {% if page.url == "/activities/" %}
            <div class="row">
                <h2>Seasonal activities</h2>
                {% for activity in site.activities %}
                {% if activity.seasonal == "now" %}
                <div class="col-md-3">
                    <h3><a href="{{ activity.permalink }}">{{ activity.title }}</a></h3>
                    {% assign firstGalleryImage = activity.gallery | first %}
                    <p>{{ activity.description }}
                        {% if firstGalleryImage %}
                        <img class="img-responsive img-circle" src="/img/480/{{firstGalleryImage.file}}" title="{{firstGalleryImage.title}}">
                        {% endif %}
                    </p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <hr>
            {{ content }}
        </div>
        <div class="col-md-3">
            <h3>Activities & Places</h3>
            <ul>
                {% for activity in site.activities %}
                <li><a href="{{ activity.permalink }}">{{ activity.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% for image in page.gallery %}
    <a href="{{ site.github.url }}/img/800/{{ image.file }}" title="{{ image.title }}" data-gallery>
        <img class="img-responsive" src="{{ site.github.url }}/img/480/{{ image.file }}" alt="{{ image.title }}" title="{{ image.title }}">
    </a>
    {% endfor %}
</div>
