---
layout: default
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 {{ page.coverpicture }} bgimage" data-horizontal-value="{{page.cover.horizontal}}" data-vertical-value="{{page.cover.vertical}}">
            <div class="bgimage-inside"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {{ content }}
        </div>
        <div class="col-md-4">
            <h3>Overview</h3>
            <ul>
                {% for feature in page.features %}
                <li>{{ feature }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for image in page.gallery %}
            <a href="{{ site.github.url }}/img/800/{{ image.file }}" title="{{ image.title }}" data-gallery>
                <img class="hidden-xs hidden-sm col-md-3 img-responsive" src="{{ site.github.url }}/img/480/{{ image.file }}" alt="{{ image.title }}">
                <img class="hidden-lg hidden-md img-responsive" src="{{ site.github.url }}/img/480/{{ image.file }}" alt="{{ image.title }}">
            </a>
            <br class="hidden-lg hidden-md">
            {% endfor %}
            <br><br>
        </div>
    </div>
</div>
