---
layout: default
---
{% assign firstCover = page.covers | first %}
{% if firstCover != null %}
<style scoped>
    .headerimage {
        background-image: url('{{ site.cloudinary_url }}/w_1000{{ firstCover.file }}');
    }
    @media (min-width: 1600px) {
        .headerimage {
            background-image: url('{{ site.cloudinary_url }}/w_1600{{ firstCover.file }}');
        }
    }
    @media (min-width: 1900px) {
        .headerimage {
            background-image: url('{{ site.cloudinary_url }}/w_1900{{ firstCover.file }}');
        }
    }
</style>
<div class="container-fluid">
    <div class="row" style="background-color:#000000;">
        <div class="col-md-12 bgimage headerimage">
            <div class="bgimage-inside">
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {{ content }}
            <div class="row-fluid masonry-container">
                <div class="col-md-12">
                    {% for image in page.images %}
                    <a href="{{ site.cloudinary_url }}/w_1024{{ image.file }}" title="{{ image.title }}" data-gallery>
                        <img class="img-responsive item thumbnail {% if image.width %}col-md-{{image.width}}{% else %}col-xs-3{% endif %}" src="{{ site.cloudinary_url }}/w_{{image.width}}20,c_fill{{ image.file }}" alt="{{ image.title }}">
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Overview</h3>
            <ul class="list-group">
                {% for feature in page.features %}
                <li class="list-group-item"><span class="glyphicon glyphicon-leaf"></span> {{ feature }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>

</div>
