---
layout: default
---
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 {{ page.coverpicture }} bgimage" data-horizontal-value="{{page.cover.horizontal}}"
             data-vertical-value="{{page.cover.vertical}}">
            <div class="bgimage-inside"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{ content }}
        </div>
        <div class="col-md-4 col-md-push-1">
            <h2>Seasonal activities</h2>
            <div class="row">
                {% for activity in site.activities %}
                {% if activity.seasonal == "now" %}
                <div class="col-md-4">
                    <h3><a href="{{ activity.permalink }}">{{ activity.title }}</a></h3>
                    <p>{{ activity.description }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 coverpic-arrival bgimage">
            <div class="bgimage-inside"></div>
        </div>
    </div>
</div>