---
layout: default
---
{% assign firstCover = page.covers | first %}
{% if firstCover != null %}
<style scoped>
    .headerimage {
        background-image: url('{{ site.cloudinary_url }}/w_1000{{ firstCover.image }}');
    }
    @media (min-width: 1600px) {
        .headerimage {
            background-image: url('{{ site.cloudinary_url }}/w_1600{{ firstCover.image }}');
        }
    }
    @media (min-width: 1900px) {
        .headerimage {
            background-image: url('{{ site.cloudinary_url }}/w_1900{{ firstCover.image }}');
        }
    }
</style>
<div class="container-fluid">
    <div class="row" style="background-color:#000000;">
        <div class="col-md-12 bgimage headerimage">
            <div class="bgimage-inside">
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{ content }}
        </div>
        <div class="col-md-3">
            <div class="row">
                <h3>Seasonal activities</h3>
                {% for activity in site.activities %}
                {% if activity.seasonal == true %}
                <div class="col-md-12 col-xs-6">
                    <h3><a href="{{ activity.permalink }}">{{ activity.title }}</a></h3>
                    {% assign firstGalleryImage = activity.images | first %}
                    {% if firstGalleryImage %}
                    <p>
                        <img class="img-responsive" src="{{ site.cloudinary_url }}/w_200{{ firstGalleryImage }}">
                    </p>

                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2">
            <div id="TA_selfserveprop90" class="TA_selfserveprop">
                <ul id="v4GyqmGO3t8" class="TA_links SBnZQnipwh">
                    <li id="S3FXCMs" class="icIaA36ZOMB3">
                        <a target="_blank" href="https://www.tripadvisor.com.au/"><img src="https://www.tripadvisor.com.au/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
                    </li>
                </ul>
            </div>
            <script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=90&amp;locationId=285538&amp;lang=en_AU&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=false&amp;border=false&amp;display_version=2"></script>
        </div>
    </div>
</div>
<hr>
<hr>

{% assign footerCover = page.covers | last %}
{% if footerCover != null %}
<style scoped>
    .footerimage {
        background-image: url('{{ site.cloudinary_url }}/w_1000{{ footerCover.image }}');
    }
    @media (min-width: 1600px) {
        .footerimage {
            background-image: url('{{ site.cloudinary_url }}/w_1600{{ footerCover.image }}');
        }
    }
    @media (min-width: 1900px) {
        .footerimage {
            background-image: url('{{ site.cloudinary_url }}/w_1900{{ footerCover.image }}');
        }
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bgimage footerimage">
            <div class="bgimage-inside"></div>
        </div>
    </div>
</div>
{% endif %}