---
layout: default
---
{% assign firstCover = page.covers | first %}
{% if firstCover != null %}
<style scoped>
    .headerimage {
        background-image: url('{{ site.cloudinary_url }}/w_1000{{ firstCover.file }}');
    }
    @media (min-width: 1600px) {
        .headerimage {
            background-image: url('{{ site.cloudinary_url }}/w_1600{{ firstCover.file }}');
        }
    }
    @media (min-width: 1900px) {
        .headerimage {
            background-image: url('{{ site.cloudinary_url }}/w_1900{{ firstCover.file }}');
        }
    }
</style>
<div class="container-fluid">
    <div class="row" style="background-color:#000000;">
        <div class="col-md-12 bgimage headerimage">
            <div class="bgimage-inside">
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="container">
    <div class="row">
        {{ content }}
    </div>
</div>
